<html>
	</head>
		<title>Redis Key Overview</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	</head>
	<body style="background-color: #eee;">
		<div class="jumbotron">
			<div class="container">
				<div class="page-header">
					<h1><a href="/" style="color: #333333;">Redis Key Overview</a><a href="/init" style="margin-left: 60px" class="btn btn-primary">Initialize</a></h1>
				</div>
				<h2 align="center">Your redis database is empty!</h2>
			</div>
		</div>
	</body>
</html>